<% include header%>
    <form action="" method="post" enctype="multipart/form-data">

        <!--// multiple属性，可以开启多张上传的特性-->
        <input type="file" name="field1" multiple>
        <input type="submit" value="上传">
    </form>
<% include footer%>